/* Portfolio */
/* charte graphique
rgb(44, 165, 42)
brown
#6286da
rgb(231, 226, 195)

*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  padding: 0.5%;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid; */
}

header > div.logo {
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  background-color: brown;
  /* border: 1px solid; */
}

.logo > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: azure;
  /* border: 1px solid; */
}

header > .titre {
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  /* border: 1px solid; */
  background-color: rgb(44, 165, 42);
}

header > .contact {
  margin: 0.5%;
  padding: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15%;
  height: 100%;
  /* border: 1px solid; */
  background-color: rgb(42, 77, 165);
}

header > .contact > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: azure;
  /* border: 1px solid; */
}

nav {
  padding: 1%;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid;
  background-color: #333c; */
}

nav > ul {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid; */
}

nav > ul > li {
  margin: 0.1%;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid; */
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6286da;
  text-decoration: none;
  cursor: pointer;
  color: azure;
  /* border: 1px solid; */
}

.corps {
  padding: 0.5%;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid; */
}

aside {
  margin: 0.5%;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  background-color: rgb(213, 133, 201);
  /* border: 1px solid; */
}

main {
  margin: 0.5%;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: rgb(213, 133, 133);
  /* border: 1px solid; */
}

article {
  margin: 1%;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  background-color: rgb(134, 187, 241);
  /* border: 1px solid; */
}

figure {
  margin: 0.5%;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: rgb(231, 226, 195);
  /* border: 1px solid; */
}

article > p {
  margin: 0.5%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: rgb(231, 226, 195);
}

section {
  margin: 1%;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid; */
}

footer {
  padding: 0.5%;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid; */
}

footer > .contact {
  margin: 0.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: #333;
}

footer > .contact > h5 {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer > div.contact > .logo {
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: brown;
}

body > footer > div.contact > a:nth-child(3) {
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer > .liens {
  margin: 0.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: rgba(108, 189, 106, 0.8);
  color: #fff;
  /* border: 1px solid; */
}

footer > .liens > h5 {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer > .liens > a {
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer > .partenaires {
  margin: 0.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: rgba(197, 197, 72, 0.8);
  color: #fff;
  /* border: 1px solid; */
}

footer > .partenaires > h5 {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer > .partenaires > a {
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* typographie */
h1 {
  text-align: center;
  font-size: 5vw;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  font-size: 2vw;
  background-color: transparent;
}
h5 {
}
h6 {
}

.logo a {
  text-align: center;
  font-size: 2vw;
}

header > .contact > a:nth-child(2) {
  text-align: center;
  font-size: 1.4vw;
  color: #fff;
}

nav > ul > li {
  text-align: center;
  font-size: 2.2vw;
}

article {
  text-align: center;
  font-size: 2.8vw;
}

article > figure {
  text-align: center;
  font-size: 2vw;
}

article > p {
  text-align: justify;
  font-size: 1.9vw;
}

section > p {
  text-align: justify;
  font-size: 1.9vw;
}

aside > p {
  text-align: justify;
  font-size: 1.9vw;
}

figure {
  text-align: justify;
  font-size: 1.9vw;
}

footer h5 {
  font-size: 2vw;
  color: #fff;
  font-family: "Roboto Slab", sans-serif;
}

body > footer > div.contact > a {
  font-size: 1.8vw;
  color: #fff;
}

footer > .liens > a {
  font-size: 1.8vw;
  color: #fff;
}

footer > .partenaires > a {
  font-size: 1.8vw;
  color: #fff;
}
